<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Person</title>
    <script src="__INDEX__/style/vue.min.js"></script>
    <link rel="stylesheet" href="__INDEX__/style/element-ui.css">
    <script src="__INDEX__/style/element-ui.js"></script>
    <link rel="stylesheet" href="__INDEX__/style/layer.css"/>
    <link rel="stylesheet" type="text/css" href="__INDEX__/style/c_style.css"/>
    <script src="__INDEX__/style/layer.js"></script>
</head>
<body>
{include file="public/header"}
<div id="app">
    <div class="wrapper c_row">
        <div class="c_aside c_col">
            <a v-for="(item,idx) in p_left_list" :key="idx" href="javascript:;" @click="person_page(item.src)"
               :class="item.class"><img :src="item.img" alt="">{{item.title}}</a>
        </div>
        <div class="p_info_content">
            <div class="hd c_row">
                <strong>我的头像</strong>
<!--                 <span class="c_row">
                     资料完善度 &nbsp;&nbsp;&nbsp;
                    <el-progress class="progress" :text-inside="true" :stroke-width="26" status="warning"
                                 :percentage="70"></el-progress>
                </span> -->
            </div>
            <div class="c_col">
                <div class="avatar">
                    <img :src="tx_src" alt="">
                </div>
                <div class="c_info_btn" style="font-size: 12px;">
                    <button @click="upload_img">选择图片</button>
                    支持jpg、png、jpeg、bmp，图片大小5M以内
                    <input id="tx_file" @change='up_file' type="file" style="display: none">
                </div>
                <!--<div class="tx_img_save">-->
                <!--<div class="tx_img_cut">-->
                <!--</div>-->
                <!--<div class="c_info_btn">-->
                <!--<button>保存</button>-->
                <!--<button style="background-color: #eee;color: #999;">-->
                <!--取消-->
                <!--</button>-->
                <!--</div>-->
                <!--</div>-->
            </div>
        </div>
    </div>
    <el-dialog
            :title="dialog_title"
            :visible.sync="dialogVisible"
            width="30%">
        <span class="dialog_br">{{dialog_content}}</span>
        <span slot="footer" class="dialog-footer">
    <el-button type="warning" @click="dialogVisible = false">知道啦</el-button>
  </span>
    </el-dialog>

</div>
 {include file="public/footer"}

<script src="__INDEX__/style/c_index.js"></script>
<script>
    new Vue({
        el: '#app',
        data: function () {
            return {
                dialog_title: '',
                dialog_content: '',
                dialogVisible: false,
                user_id: '2',
                tx_src:'{$userimg}',//tp5最后才渲染的缘故
                file: '',
                p_left_list: [
                    {src: 'c_person_info.html', img: '__INDEX__/images/p1.png', class: '', title: '我的信息'},
                    {src: 'c_person_tx.html', img: '__INDEX__/images/tx2.png', class: 'c_aside_on', title: '我的头像'},
                    // {src: '', img: '__INDEX__/images/bd1.png', class: '', title: '绑定设置'},
                    {src: 'c_person_safe.html', img: '__INDEX__/images/safety1.png', class: '', title: '账号安全'},
                    // {src: '', img: '__INDEX__/images/home1.png', class: '', title: '我的窝设置'},
                    // {src: '', img: '__INDEX__/images/blackname1.png', class: '', title: '黑名单管理'},
                    // {src: '', img: '__INDEX__/images/qb1.png', class: '', title: '我的钱包'}
                ],
            }
        },
        methods: {
            person_page: function (src) {
                if (src != '') {
                    window.location.assign(src);
                }
            },
            upload_img: function () {
                $('#tx_file').click();
            },
            up_file: function () {
                let self = this;
                let file = $("#tx_file").val();
                let apiAddress = getApi();
                let user_id= self.user_id;
                let time = new Date().getTime();
                let fileimg = $("#tx_file").prop('files')[0];
                if (!/.(jpg|jpeg|png|JPG|bmp)$/.test(file)) {
                    self.dialog_title = '文件格式错误';
                    self.dialog_content = '图片类型必须是.jpeg,jpg,png,bmp中的一种';
                    self.dialogVisible = true;
                    return false;
                } else {
                    if ((fileimg.size.toFixed(2)) >= (5 * 1024 * 1024)) {
                        self.dialog_title = '文件大小错误';
                        self.dialog_content = '请上传小于5M的图片';
                        self.dialogVisible = true;
                        return false;
                    }
                }
                //图片上传
                let formData = new FormData();
                formData.append('user_id', user_id);
                formData.append('time', time);
                formData.append('user_icon', fileimg);
                $.ajax({
                    url:apiAddress + '/user/icon',
                    type:'post',
                    cache: false,
                    contentType: false,
                    processData: false,
                    data:formData,
                    success:function (data) {
                        if(data.code === 200){
                            let imgsrc = window.URL.createObjectURL(fileimg);
                            console.log(imgsrc);
                            self.tx_src = imgsrc;
                            self.dialog_title = '提示';
                            self.dialog_content = data.msg;
                            self.dialogVisible = true;
                        }else{
                            self.dialog_title = '错误';
                            self.dialog_content = '文件上传失败！';
                            self.dialogVisible = true;
                        }
                    },
                    error(e){
                        console.log('请求错误');
                    }
                });

            }

        }
    });
</script>
</body>
</html>