<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>register</title>
    <script src="__INDEX__/style/jquery-1.8.3.min.js"></script>
    <link rel="stylesheet" href="__INDEX__/style/element-ui.css">
    <script src="__INDEX__/style/element-ui.js"></script>
    <script src="__INDEX__/style/vue.min.js"></script>
    <link rel="stylesheet" href="__INDEX__/style/layer.css"/>
    <link rel="stylesheet" type="text/css" href="__INDEX__/style/c_style.css"/>
    <script src="__INDEX__/style/layer.js"></script>
    <script type="text/javascript">
        var __HOMEURL__ = "__ROOTURL__";
    </script>
    <script src="__INDEX__/style/indexcommon.js"></script>
</head>
<body>
<div id="app" class='login_main'>
    <el-container class='content'>
        <el-header class='header'>
            <div class="logo">
                <a href="c_index.html" target="_blank"><img src="__INDEX__/images/erlogo.png" alt="logo"></a>
            </div>
            <div class="buttons">
                <ul class="clear">
                    <li @mouseenter="li_bg_color('#FFDD0F',$event)" @mouseleave="li_bg_color('#f4c830',$event)"><a
                            href="javascript:;" target="_blank"><i class="el-icon-mobile-phone"></i>APP下载</a></li>
                    <li class="select_box" @mouseenter="li_bg_color('#f4c830',$event)"
                        @mouseleave="li_bg_color('#f0f0f0',$event)">
                        <a href="javascript:;">
                            <i class="el-icon-house"></i>返回首页
                        </a>
                    </li>
                </ul>
            </div>
        </el-header>
        <el-main class='main'>
            <el-card class="box-card">
                <h2 class="login-title"><span>注册</span></h2>
                <div class="login_content">
                    <p>注册</p>
                    <div class="form-control phone_control">
                        <div class="select-area-code">
                            <img @click="select_country"
                                 :src="imgsrc"
                                 class="select_country">
                            <span @click="select_country" class="select_country" id="countryCode">{{areacode}}</span>
                            <i class="el-icon-caret-bottom"></i>
                            <input id="register_phone" type="tel" v-model="phone" placeholder="请输入手机号"
                                   class="phone_input account">
                        </div>
                    </div>
                    <div class="form-control code_control">
                        <input id="register_code" v-model="quick_code" class='input code' placeholder="验证码"/>
                        <button @click="send_code" class="quick_btn">{{
                            code_btn }}
                        </button>
                    </div>

                    <div class="login_content">
                        <div class="select-area-code">
                            <input id="register_pwd" type="password" v-model="register_pwd" placeholder="设置密码"
                                   class="input">
                            <input id="register_pwd2" type="password" v-model="register_pwd2" placeholder="请再输入一遍密码"
                                   class="input">
                        </div>
                    </div>
                    <div class="login_content">
                        <div class="row">
                            <input id="register_fristName" type="text" v-model="frist_name" placeholder="请输入姓氏"
                                   class="input"
                                   style="margin-right: 10px">
                            <el-select id="register_sex" v-model="sex" placeholder="性别" class="sex_select_box">
                                <el-option
                                        v-for="item in options"
                                        :key="item.value"
                                        :label="item.label"
                                        :value="item.value">
                                </el-option>
                            </el-select>

                        </div>
                        <input id="register_email" type="email" v-model="email" placeholder="请输入邮箱" class="input">
                    </div>
                    <p class="error-alert" v-if="isError">
                        <i class="el-icon-remove"></i>
                        <span>{{ errormsg }}</span>
                    </p>
                </div>
                <div class="login_content">
                    <button class='btn' @click="register">完成</button>
                </div>
                <p class="login_bottom" style="justify-content: center">
                    <a href="javascript:;">点击“完成”即表示您同意《外汇天眼服务协议》</a>
                </p>
            </el-card>
        </el-main>
    </el-container>
    <div id="bg">
        <div class="area-code-box">
            <div class="area-code-nav">
                <ul>
                    <li @click="add_on($event)" v-for="item in area_nav_list">{{item}}</li>
                </ul>
            </div>
            <div class="area-code-content">
                <div class="area-code-titlt">
                    <span @click="close_bg" class="el-icon-close"></span>
                </div>
                <div class="area-code-body">
                    <dl v-for="item in area_nav_list" :name="item">
                        <dt>{{ item }}</dt>
                        <dd @click="change_country(i.imgsrc,i.code)" v-for="(i,idx) in area_code_list" :key="idx"
                            v-if="i.name==item">
                            <img :src="i.imgsrc" alt="">
                            <em>{{i.title}}</em>
                            <span>{{i.code}}</span>

                        </dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>

</div>

<script>
    new Vue({
        el: '#app',
        data: function () {
            return {
                phone: '',
                quick_code: '',
                code_btn: '验证码',
                register_pwd: '',
                register_pwd2: '',
                email: '',
                frist_name: '',
                isError: false,
                errormsg: '',
                isTimeOver: true,
                imgsrc: 'https://img.wikifx.com/flag/7d8833382673bab2/CN.png_wiki-template-global',
                areacode: '0086',
                sex: '',
                options: [{
                    value: '1',
                    label: '先生'
                }, {
                    value: '0',
                    label: '女士'
                }],
                area_nav_list: ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'J', 'K', 'L', 'M', 'N', 'P', 'R', 'S', 'T', 'W', 'X', 'Y', 'Z'],
                area_code_list: []

            }
        },
        methods: {
            register: function () {
                let lay = layer;
                let self = this;
                let areacode = self.areacode.replace(/\b(00+)/gi, "");
                let phone = self.phone;
                let apiAddress = getApi();
                let quick_code = self.quick_code;
                let register_pwd = self.register_pwd;
                let register_pwd2 = self.register_pwd2;
                let frist_name = self.frist_name;
                let sex = self.sex;
                let email = self.email;
                let timestamp = new Date().getTime();
                //正则
                if (phone == '') {
                    lay.tips('请输入手机号!', '#register_phone');
                    return;
                }
                if (areacode == 86 && !(/^1[3456789]\d{9}$/.test(phone))) {
                    lay.tips('请输入正确的手机号!', '#register_phone');
                    return;
                }
                if (quick_code == '') {
                    lay.tips('请输入验证码!', '#register_code');
                    return;
                }
                if (register_pwd == '') {
                    lay.tips('请输入密码!', '#register_pwd');
                    return;
                }
                if (!(/^[0-9a-zA-Z]{8,20}$/.test(register_pwd))) {
                    lay.tips('密码位8-20位，不能包含汉字或空格!', '#register_pwd');
                    return;
                }
                if (register_pwd != register_pwd2) {
                    lay.tips('两次密码不一致!', '#register_pwd2');
                    return;
                }
                if (frist_name == '') {
                    lay.tips('请输入姓氏!', '#register_fristName');
                    return;
                }
                if (sex == '') {
                    lay.tips('请选择性别!', '#register_sex');
                    return;
                }
                if (email == '') {
                    lay.tips('请输入邮箱!', '#register_email');
                    return;
                }
                if (!(/^([a-zA-Z]|[0-9])(\w|\-)+@[a-zA-Z0-9]+\.([a-zA-Z]{2,4})$/.test(email))) {
                    lay.tips('请输入正确的邮箱!', '#register_email');
                    return;
                }
                //注册操作
                post_action(self, apiAddress + '/user/register', {
                    'user_name': phone,
                    'user_pwd': register_pwd,
                    'code': quick_code,
                    'time': timestamp,
                    'user_email': email,
                    'name': frist_name,
                    'user_sex': sex
                });
                clearTimeout(self.timer1);
            },
            select_country: function () {
                let self = this;
                self.area_code_list = getCountrys();
                enable_bg();
            },
            close_bg: function () {
                disable_bg();
            },
            add_on: function (e) {
                add_on_class(e);
            },
            change_country: function (src, code) {
                let self = this;
                self.imgsrc = src;
                self.areacode = code;
                disable_bg();
            },
            send_code: function () {
                let self = this;
                let apiAddress = getApi();
                let phone = self.phone;
                let code = self.areacode.replace(/\b(00+)/gi, "");
                let timestamp = new Date().getTime();
                getcode(self, apiAddress, phone, 0, timestamp, code);
            }

        },
        watch: {
            phone: function () {
                let self = this;
                let phone = this.phone;

                let isTimeOver = this.isTimeOver;
                let areacode = self.areacode.replace(/\b(00+)/gi, "");
                if (phone != '') {

                    if (areacode == 86 && (/^1[3456789]\d{9}$/.test(phone)) && isTimeOver) {
                        enable_code();
                    }
                    else if (areacode != 86 && isTimeOver) {
                        enable_code();
                    }
                    else {
                        disable_code();
                    }

                }
                else {
                    disable_code();
                }
            }
            ,
            areacode: function () {
                let phone = this.phone;

                let isTimeOver = this.isTimeOver;
                let areacode = this.areacode.replace(/\b(00+)/gi, "");
                if (phone != '') {
                    if (areacode != 86 && isTimeOver) {
                        enable_code();
                    } else if (areacode == 86 && (/^1[3456789]\d{9}$/.test(phone)) && isTimeOver) {
                        enable_code();
                    }
                    else {
                        disable_code();
                    }


                }
                else {
                    disable_code();
                }
            }
        }
    });


</script>
<script src="__INDEX__/style/c_index.js"></script>
<script src="__INDEX__/style/c_area.js"></script>
</body>
</html>
