<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"
          name="viewport">
    <title>尾部</title>
    <link rel="stylesheet" href="__INDEX__/style/header_footer.css">
</head>
<body class="index_body_a" onload="init()">
<div class="container_a">
    <!--尾部-->
    <div class="footer_a">
        <div class="friendshipLink">友情链接</div>
        <div class="linkDetail">
            <a href="#" class="linkAddress">灵客论坛</a>
            <a href="#" class="linkAddress">518外汇网</a>
            <a href="#" class="linkAddress">外汇联盟</a>
            <a href="#" class="linkAddress">汇众网</a>
            <a href="#" class="linkAddress">中金在线外汇网</a>
            <a href="#" class="linkAddress">WiKiEXPO</a>
            <a href="#" class="linkAddress">上海有色网</a>
            <a href="#" class="linkAddress">证券之星</a>
            <a href="#" class="linkAddress">融资中国</a>
            <a href="#" class="linkAddress">汇信</a>
            <a href="#" class="linkAddress">WiKiFK</a>
            <a href="#" class="linkAddress">618外汇网</a>
            <a href="#" class="linkAddress">天眼志</a>
            <a href="#" class="linkAddress">环球外汇网</a>
            <a href="#" class="linkAddress">电鳗快报</a>
            <a href="#" class="linkAddress">本金资讯</a>
            <a href="#" class="linkAddress">外汇通</a>
            <a href="#" class="linkAddress">一本财经</a>
            <a href="#" class="linkAddress">518返佣网</a>
            <a href="#" class="linkAddress">FN资讯</a>
            <a href="#" class="linkAddress">嘉号</a>
            <a href="#" class="linkAddress">新金网</a>
            <a href="#" class="linkAddress">外汇返利网</a>
            <a href="#" class="linkAddress">字汇国际网</a>
            <a href="#" class="linkAddress">杰克交易学院</a>
            <a href="#" class="linkAddress">优策外汇EA</a>
        </div>
        <div class="explain_a">
            <a href="#" class="explain_link">关于我们</a>
            <a href="#" class="explain_link">意见反馈</a>
            <a href="#" class="explain_link">风险提示</a>
            <a href="#" class="explain_link">使用条款</a>
            <a href="#" class="explain_link">隐私声明</a>
            <a href="#" class="explain_link">我来纠错</a>
            <a href="#" class="explain_link">搜索调用</a>
            <a href="#" class="explain_link">企业版(天眼号)</a>
            <a href="#" class="explain_link">天眼号协议</a>
        </div>
        <div class="warmTip">
            <div class="tipDesc">
                <p>风险提示：根据《关于严厉查处非法外汇期货和外汇通知》（证监发字【1994】165号）规定凡未经批准的机构在大陆境内擅自开展外汇期货交易均属非法，提高意识，谨防损失！</p>
                <p>官方邮箱:fxeye@fxeye.com；客服微信：fxeye06客服电话：（中）4006888219；(En)+86
                    17126630052；牌照等信息纠错请发送信息至：QA@wikifx.com</p>
                <p>沪ICP备17057142号 Copyright &copy 2019 fxeye.com All Rights Reserved</p>
            </div>
            <div class="codeImage">
                <img src="__INDEX__/images/qrcode.png" alt="官方微信">
                <p>官方微信</p>
            </div>
        </div>
    </div>

</div>


<script src="__INDEX__/style/header_footer.js"></script>
</body>
</html>