<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"
          name="viewport">
    <title>首页</title>
    <link rel="stylesheet" href="__INDEX__/style/header_footer.css">
    <script src="__INDEX__/style/jquery-1.8.3.min.js"></script>
    <script type="text/javascript">
        var __HOMEURL__ = "__ROOTURL__";
    </script>
    <script src="__INDEX__/style/indexcommon.js"></script>
</head>
<body class="index_body_a" onload="init()">
<div class="container_a">
    <!--头部-->
    <div class="topContainer_a">
        <div class="topContent">
            <div class="topNavigation">
                <ul>
                    <li class="moreMsg">
                        <a href="#">
                            陶园APP
                            <i class="downArrowIcon"></i>
                        </a>
                        <div class="appHide topHide">
                            <img src="__INDEX__/images/test/qr.png" alt="">
                        </div>
                    </li>
                    <li class="moreMsg">
                        <a href="#">
                            小程序
                            <i class="downArrowIcon"></i>
                        </a>
                        <div class="smallProgramHide topHide">
                            <img src="__INDEX__/images/test/qr.png" alt="">
                        </div>
                    </li>
                    <li class="moreMsg">
                        <a href="#">
                            公众号
                            <i class="downArrowIcon"></i>
                        </a>
                        <div class="publicHide topHide">
                            <img src="__INDEX__/images/test/qr.png" alt="">
                        </div>
                    </li>
                    {if condition="session('userinfo') neq ''"}
                    <li><a href="{:url('index/login/c_person_info')}">{$Request.session.userinfo.name}</a></li>
                    <li><span class="gap"></span></li>
                    <li><a href="{:url('index/login/logout')}">退出</a></li>
                    {else/}
                    <li><a href="{:url('index/login/c_login')}">登录</a></li>
                    <li><span class="gap"></span></li>
                    <li><a href="{:url('index/login/c_register')}">注册</a></li>
                    {/if}
                </ul>
            </div>
            <div class="MenuNavigation">
                <ul>
                    <li><a href="/"><img src="__INDEX__/images/logo.png" alt=""></a></li>
                    <li class="nav selected"><a href="#">首页</a></li>
                    <li class="nav"><a href="/propertylist/25">所有房源</a></li>
                    <li class="nav"><a href="/propertylist/26">新房</a></li>
                    <li class="nav"><a href="/propertylist/27">二手房</a></li>
                    <li class="nav"><a href="/article_list">资讯</a></li>
                    <li class="nav"><a href="#">问答</a></li>
                    <li class="nav"><a href="#">购房服务</a></li>
                </ul>
            </div>
        </div>
    </div>

</div>


<script src="__INDEX__/style/header_footer.js"></script>
</body>
</html>